html{
	background-color: #22272e;
	color: white;
}
.div{
	font-family: Arial;
}
h1{
	text-align: center;
	color: #539bf5;
}
.main{
	display: grid;
	grid-template-columns: 360px 360px;
	grid-gap: 20px;
	margin-left: 150px;
}
.main h3{
	color: #acf0f0;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
	border: 1px solid grey;
	padding: 10px;
}
.example{
	border: 1px solid grey;
	background-color: #ccffcc;
	padding: 10px;
	margin-bottom: 20px;
}
.example p{
	font-size: 10px;
	line-height: 15px;
	color: #347d39;
}
.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6 a, .box7 a, .box8 a, .box9 a{
	padding: 8px 10px;
	text-decoration: none;
	background-color: #cb92ff;
	color: white;
	border-radius: 5px;
}
.text{
	color: #adbac7;
}